@import "tailwindcss";

@theme {
  --color-background: #06000c;
  --color-foreground: #e2e8f0;
}

@layer base {
  :root {
    --background: #06000c;
    --foreground: #e2e8f0;

    --card: #0A0512;
    --card-foreground: #e2e8f0;

    --popover: #0A0512;
    --popover-foreground: #e2e8f0;

    --primary: #9333ea;
    --primary-foreground: #ffffff;

    --secondary: #1e1b4b;
    --secondary-foreground: #e2e8f0;

    --muted: #1e1b4b;
    --muted-foreground: #a8b2d1;

    --accent: #581c87;
    --accent-foreground: #ffffff;

    --destructive: #7f1d1d;
    --destructive-foreground: #f87171;

    --border: #3b0764;
    --input: #3b0764;
    --ring: #9333ea;

    --radius: 0; 
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

